@using ASP_Project.ViewModel;
@model JoinchatVM

@{
    var result = ViewBag.Result as List<dynamic>;
}



@if (result != null)
{
    <table>
        <thead>
            <tr>
                <th>Chat ID</th>
                <th>RemainNUM</th>
                <th>MaxNUM</th>
                <th>ImageUser</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in result)
            {
                var chat = item.chat;
                <tr>
                    <td>@chat.Id</td>
                    <td>@chat.remainNumber</td>
                    <td>@chat.maxNumber</td>
                    @* <td>@item.image_user</td> *@
                    <div class="mb-1">

                        <form asp-action="Joinchat" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="chatrecordid" value="@item.chatrecordid" />
                            <input type="hidden" asp-for="chatid" value="@chat.Id" />
                            <button type="submit" class="form-control">Your Button Text</button>
                            <span asp-validation-for="chatrecordid" class="text-danger"></span>
                        </form>
                    </div>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No chat results found.</p>
}