@using ASP_Project.Models;
@using Microsoft.AspNetCore.Identity;
@using ASP_Project.ViewModel;
@model FilterchatVM
@{
    ViewData["Title"] = "Selected Movie";
    ViewData["Styles"] = "~/css/SelectedMovie.css";
    ViewData["Scripts"] = "~/js/SelectedMovie.js";
}

<div class="main-container">
    <img src=>
    @* @foreach (var program in ViewBag.programMovieEntities)
    {
        <div>
            <p>@program.Id</p>
            <p>@program.Showtime</p>
            <p>@program.MovieId</p>
            <p>@program.PlaceId</p>
            <p>@program.CinemaId</p>
        </div>
    } *@
</div>