@using Microsoft.AspNetCore.Identity;
@model ASP_Project.Models.AppUser
@{
  ViewData["Title"] = "Profile Page";
  ViewData["Styles"] = "~/css/profile.css";
  ViewData["Scripts"] = "~/js/profile.js";
  Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!---
<div class="text-center">
   <h1>Profile Page</h1>
   <a class="float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
   <h2>@Html.DisplayFor(model => model.Name)</h2>
   <h2>@Html.DisplayFor(model => model.Email)</h2>
</div>
--->
<!DOCTYPE html>
<html>

<head>
  <title>@ViewData["Title"]</title>
</head>

<body>
  <section class="user-profile">
    <h1 class="header-title">your profile</h1>
    <div class="info">
      <div class="user">
        <img src="@Html.DisplayFor(model => model.Image)" alt="profile-img" />
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <div class="score">
          <i class="fa-solid fa-star"></i>
          <p>@Html.DisplayFor(model => model.Rating)</p>
        </div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="flex">
            <i class="fa-solid fa-heart"></i>
            <div>
              <span>3</span>
              <p>movies liked</p>
            </div>
          </div>
          <a class="btn btn-warning" asp-action="FavMovies">view movies</a>
        </div>

        <div class="box">
          <div class="flex">
            <i class="fa-solid fa-users-rectangle"></i>
            <div>
              <span>4</span>
              <p>groups</p>
            </div>
          </div>
          <a href="/profile/groups" class="btn btn-warning">view groups</a>
        </div>

      </div>
    </div>

    <button class="btn btn-danger back" id="back" asp-controller="Home" asp-action="Index">Back</button>
  </section>
</body>

</html>