@model IEnumerable<object>

@{
    ViewData["Title"] = "Favorite Movie";
    ViewData["Styles"] = "~/css/profile.css";
    ViewData["Scripts"] = "~/js/profile.js";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<section class="user-movie">
    <h1 class="heading">Liked Movies</h1>

    <div class="box-container">
        @if (ViewBag.likemovie != null && ViewBag.likemovie.Count > 0)
        {
            @foreach (var item in ViewBag.likemovie)
            {
                var movie = item.movie;
                <div class="box" id="@movie.Id">
                    <img src="@movie.Image" alt="@movie.Title" />
                    <div class="detail">
                        <h3>@movie.Title</h3>
                        <button type="submit" class="remove-button" data-movie-id="@movie.Id">Remove</button>
                    </div>
                </div>
            }
        }
    </div>
    <a asp-action="Index" class="btn btn-danger back" class="btn">Back</a>
</section>

@section Scripts {
    <script>
        //$(document).ready(function() {


        $('.remove-button').click(function () {
            var movieid = $(this).data('movie-id')

            $.ajax({
                url: '@Url.Action("Dellike", "Profile")',
                type: 'POST',
                data: {
                    movieId: movieid
                },
                success: function (response) {
                    // Handle success response here
                    $("#" + movieid).remove();
                },
                error: function (xhr, status, error) {
                    // Handle error here
                    console.error(xhr.responseText);
                }
            });
        });
        //});
    </script>
}