@* @using ASP_Project.ViewModel;
@model AddrequestVM *@

<table>
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>status</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Result)
                {
                    <tr>
                        <td>@item.req.Id</td>
                        <td>@item.req.Status</td>
                        <td>@item.user_select.Name</td> 
    
                       <div class="mb-1">
                            <button type="submit" class="submit-button" data-req-iid="@item.req.Id" data-req-id="@item.req.ChatRecordId" data-user-id="@item.user_select.Id">Submit</button>
                            @* <span asp-validation-for="chatrecordid" class="text-danger"></span> *@
                        </div>
                    </tr>
                }
            </tbody>
        </table>

@section Scripts {
<script>
    $(document).ready(function() {
        $('.submit-button').click(function() {
            var reqiid = $(this).data('req-iid')
            var reqid = $(this).data('req-id');
            var userid = $(this).data('user-id');

            console.log("sdfsdf"+userid);
            
            $.ajax({
                url: '@Url.Action("Requests", "Profile")',
                type: 'POST',
                data: {
                    ohmreqIdreal: reqiid,
                    ohmreqId: reqid,
                    ohmuserId: userid
                },
                success: function(response) {
                    // Handle success response here
                    console.log(reqid);
                },
                error: function(xhr, status, error) {
                    // Handle error here
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
}