@{
    ViewData["Title"] = "Profile";
    ViewData["Styles"] = "~/css/profile.css";
    ViewData["Scripts"] = "~/js/profile.js";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<section class="user-profile">
    <h1 class="header-title">Requests Box</h1>
    <div class="info">
        @foreach (var item in ViewBag.Result)
        {

            <tr id="@item.req.Id">
                <h2 scope="row">@item.req.Id</h2>
                <h2>@item.user_select.Name</h2>

                <div class="mb-1" id="@item.req.ChatRecordId">
                    <button type="submit" class="submit-button" data-req-iid="@item.req.Id"
                        data-req-id="@item.req.ChatRecordId" data-user-id="@item.user_select.Id">Submit</button>
                    
                </div>

                <div class="mb-1" id="@item.user_select.Name">
                    <button type="submit" class="cancel-button" data-req-iid="@item.user_select.Name"
                        data-req-id="@item.req.ChatRecordId" data-user-id="@item.user_select.Id">Cancel</button>
                    
                </div>
            </tr>
        }
    </div>
    <a class="btn btn-danger back-btn" href="/profile">Back</a>
    <a asp-action="groups" class="btn btn-warning groups-btn">View Group</a>
</section>


@section Scripts {
    <script>
        //$(document).ready(function() {


        $('.submit-button').click(function () {
            var reqiid = $(this).data('req-iid')
            var reqid = $(this).data('req-id');
            var userid = $(this).data('user-id');

            console.log("sdfsdf" + userid);

            $.ajax({
                url: '@Url.Action("Requests", "Profile")',
                type: 'POST',
                data: {
                    ohmreqIdreal: reqiid,
                    ohmreqId: reqid,
                    ohmuserId: userid
                },
                success: function (response) {
                    // Handle success response here
                    $("#" + reqiid).empty();
                    $("#" + reqid).empty();

                },
                error: function (xhr, status, error) {
                    // Handle error here
                    console.error(xhr.responseText);
                }
            });
        });



        $('.cancel-button').click(function () {
            var reqiid = $(this).data('req-iid')
            var reqid = $(this).data('req-id');
            var userid = $(this).data('user-id');

            console.log("sdfsdf" + userid);

            $.ajax({
                url: '@Url.Action("Cancelreq", "Profile")',
                type: 'POST',
                data: {
                    userid: userid,
                    chatrecordid: reqid
                },
                success: function (response) {
                    // Handle success response here
                    $("#" + reqiid).empty();
                    $("#" + reqid).empty();

                },
                error: function (xhr, status, error) {
                    // Handle error here
                    console.error(xhr.responseText);
                }
            });
        });
        //});
    </script>
}