

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <div class="mb-1">
                    @foreach (var i in (IEnumerable<MovieEntity>)ViewBag.movie)
                    {
                    <h3>@i.Title</h3>
                    <h3>@i.Description</h3>
                    <h3>@i.Rating</h3>
                    <div class="mb-1">
                            <form asp-controller="Profile" asp-action="LikeMovie" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="movieId" value="@i.Id" /> 
                                <input type="submit" class="form-control" value="@i.Id" />
                            </form>
                    </div>
                    }
    </div>
</div>